<div>
  <el-row>
    <el-col :span="24">
      <el-breadcrumb separator-class="el-icon-arrow-right" class="list-wrap">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>角色列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <el-button type="success" plain @click="dialogAddFormVisible=true">添加角色</el-button>
  <el-table
  :data="roleList"
  style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="scope">
        <el-row
        v-for="level1 in scope.row.children"
        :key="level1.id"
        class="role-level1">
          <el-col :span="4">
            <el-tag
              closabl
              @close="handleRemoveRight(scope.row,level1)"
              type="">
              {{level1.authName}}
            </el-tag>
            <i class="el-icon-arrow-right"></i>
          </el-col>
          <el-col :span="20">
            <el-row
            v-for="level2 in level1.children"
            :key="level2.id"
            class="role-level2">
              <el-col :span="4">
                <el-tag
                  closable
                  @close="handleRemoveRight(scope.row,level2)"
                  type="success">
                  {{level2.authName}}
                </el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span="20">
                <el-tag
                  v-for="level3 in level2.children"
                  :key="level3.id"
                  closable
                  @close="handleRemoveRight(scope.row,level3)"
                  type="warning"
                  class="role-level3-tag">
                  {{level3.authName}}
                </el-tag>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column
      label="#"
      type="index">
    </el-table-column>
    <el-table-column
      label="角色名称"
      prop="roleName">
    </el-table-column>
    <el-table-column
      label="描述"
      prop="roleDesc">
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="primary"
          plain
          @click="handleEditRole(scope.row)">编辑</el-button>
        <el-button
          size="mini"
          type="danger"
          plain
          @click="handleDeleteRole(scope.row)">删除</el-button>
        <el-button
          size="mini"
          type="warning"
          plain
          @click="handleEditRights(scope.row)">授权</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- 添加角色 -->
  <el-dialog title="添加角色" :visible.sync="dialogAddFormVisible">
    <el-form
    :model="addRoleForm">
      <el-form-item label="角色名称" label-width="120px ">
        <el-input
        v-model="addRoleForm.roleName"
        auto-complete="off"
        autofocus="true"></el-input>
      </el-form-item>
      <el-form-item label="描述" label-width="120px">
        <el-input v-model="addRoleForm.roleDesc" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAddFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAddRole">确 定</el-button>
    </div>
  </el-dialog>
  <!-- /添加角色 -->
  <!-- 编辑角色 -->
  <el-dialog title="编辑角色" :visible.sync="dialogEditFormVisible">
    <el-form
    :model="editRoleForm">
      <el-form-item label="角色名称" label-width="120px ">
        <el-input
        v-model="editRoleForm.roleName"
        auto-complete="off"
        autofocus="true"></el-input>
      </el-form-item>
      <el-form-item label="描述" label-width="120px">
        <el-input v-model="editRoleForm.roleDesc" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogEditFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEditRoleok(editRoleForm.roleId)">确 定</el-button>
    </div>
  </el-dialog>
  <!-- /编辑角色 -->
  <!-- 授权列表 -->
  <el-dialog title="授权角色" :visible.sync="editRightsListVisible">
    <el-tree
      :data="treeData"
      show-checkbox
      node-key="id"
      ref="rightsTree"
      default-expand-all
      :default-checked-keys="treeCheckedKeys"
      :props="treeProps">
    </el-tree>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editRightsListVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEditRightsok">确 定</el-button>
    </div>
  </el-dialog>
  <!-- /授权列表 -->
</div>